.gameContainer {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.goBack {
  position: absolute;
  top: 3vh;
  left: 2vw;
  width: 10vmin;
}
.renderGame {
  width: 60%;
  height: 80vh;
  background-color: rgba(47, 41, 106, 0.912);
  /* background: rgb(102,95,223);
  background: linear-gradient(150deg, rgba(102,95,223,1) 0%, rgb(42, 39, 94) 50%, rgba(102,95,223,1) 100%); */
  border-radius: 30px;
  box-shadow: 0 5px 16px 0 rgb(0 0 0 / 25%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.winner {
  width: 38vw;
  height: 16vw;
  background-size: cover;
  background-position: center;
}

.gameover {
  width: 35vw;
  height: 20vw;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.title {
  width: 80%;
  font-size: 3vmin;
  color: #88f0c0;
  text-align: center;
  text-shadow: -1.5px 2px 0 #3ca172;
  font-family: "Fredoka One", cursive;
  letter-spacing: 1.4px;
  font-weight: 100;
}

.title p {
  font-size: 2.5vmin;
  text-shadow: none;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  color: white;
}

/* nosy */

.nosyContainer {
  padding: 9vmin 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerButtons {
  width: 100%;
  margin-top: 6vmin;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.containerButtons img {
  width: 12vmin;
}

.containerButtons div {
  display: flex;
  align-items: center;
  margin: 0 3vmin;
  width: 40%;
}

.buttonOption,
.buttonOptionBombed {
  padding: 1rem 2rem;
  border: none;
  font-family: "Ubuntu", sans-serif;
  font-size: 3vmin;
  font-weight: 500;
  background-color: #ceb036;
  border-radius: 10px;
  color: white;
  width: 100%;
  /* height: 10vh; */
  cursor: pointer;
  border-bottom: 5px solid #917a20;
  transition: all 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.movies {
  background-color: #ffe10c;
  border-bottom: 5px solid #917e06;
}

.computers {
  background-color: #8dcc29;
  border-bottom: 5px solid #3b5818;
}

.music {
  background-color: #d9370c;
  border-bottom: 5px solid #741d06;
}

.animals {
  background-color: #8366be;
  border-bottom: 5px solid #493969;
}

.knowledge {
  background-color: #2191fd;
  border-bottom: 5px solid #135492;
}

.buttonOption:hover {
  box-shadow: 1px 2px 3px rgb(80, 79, 79);
}

/* QUERIES */

@media (max-width: 1000px) {
  .renderGame {
    width: 90%;
  }
}

@media (max-width: 700px) {
  .goBack {
    width: 50px;
  }
}

@media (max-width: 660px) {
  .containerButtons {
    flex-wrap: nowrap;
    display: grid;
    grid-template-columns: 80%;
    gap: 2vmin;
    margin-left: 5vmin;
    height: 90%;
  }

  .containerButtons div {
    width: 80%;
  }

  .containerButtons div button {
    height: 8vh;
  }

  .containerButtons img {
    width: 50px;
  }

  .buttonOption {
    padding: 1.5vmin 0;
  }

  .winner {
    width: 58vw;
    height: 25vw;
  }

  .gameover {
    width: 55vw;
    height: 30vw;
  }
}

@media (max-width: 500px) {
  .containerButtons div button {
    font-size: 4vmin;
  }
}
