.questionsContainer{
    width: 100%;
}

.questionsContainer h3{
    color: #ccc;
    margin-left: 1em;
    margin-top: 2vh;
}

/* QUESTIONCARD COMPONENT */
.questionContainer{
    margin: 2vh 1vw;
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 0 0 2em 2em;
    color: white
}

.questionInfo{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.approved,
.notApproved{
    padding: 1vh 1em;
    color: white;
    border-bottom-right-radius: 1em;
}

.approved{
    background-color: green;
}

.notApproved{
    background-color: red;
}

.category{
    padding: 1vh 1em;
    color: white;
    border-bottom-left-radius: 1em;
}

.categoryPurple{
    background-color: #8366be;
    background-color: #8E45B7;
}

.categoryBlue{
    background-color: #2191fd;
    background-color: #2879C9;
}

.categoryRed{
    background-color: #d9370c;
    background-color: #E0390D;
}

.categoryYellow{
    background-color: #fedf0a;
    background-color: #E7C30A;
}

.categoryGreen{
    background-color: #76b02f;
    background-color: #8DCC29;
}

.buttonsContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1em;
}

.buttonsContainer img{
    width: 30px;
}


.questionSection{
    width: 100%;
    margin: 1.3em 0;
    display: flex;
    min-height: 10vh;
}

.question{
    width:50%;
    padding: 0 2vw;
}

.answerContainer{
    width: 40%;
}

.toEdit{
    width: 80%;
}

.questionContainer p,
.questionContainer h4{
    font-family: "Ubuntu", "sans-serif";
    font-weight: normal;
}

.filterContainer{
    display: flex;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.filterContainer h2{
    color: white;
    margin-right: 1em;
}

.buttonsContainer svg{
    cursor: pointer;
}

.correctAnswer{
    color: green
}

.incorrectAnswer{
    color: red;
}


.resumeContainer{
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    justify-content: center;
}

.resumeSection{
    width: 80%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    font-family: "Ubuntu", "sans-serif";
    padding: 0 10px;

}

.resumeSection h2{
    color: white;
    font-family: "Ubuntu", "sans-serif";
    margin-bottom: 3vh;
    margin-top: 2vh;
}

.reviewContainer{
    width: 100%;
    padding: 1vh 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: green; */
    margin-bottom: 2vh;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
}

.reviewPic{
    width: 100%;
    height: 25vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 30px;
}



.resumeSection::-webkit-scrollbar,
.connected::-webkit-scrollbar{
background-color: #04115a;
border-radius: 20px;
border: 2px solid #f1f2f3;  
}
.resumeSection::-webkit-scrollbar-thumb,
.connected::-webkit-scrollbar-thumb{
    background: #ffffff;
    border-radius: 10px;
}

.reviews{
    height: 100%;
    /* background-color: salmon; */
}

.reviewContainer svg{
    cursor: pointer;
    align-self: flex-end;
}
