.sectionGames {
  margin: 15vh 9%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.sectionGames h2 {
  text-align: center;
  font-size: 5vmin;
  font-family: "Fredoka One", cursive;
  color: rgb(136, 240, 192);
  text-shadow: -1px 2px 0 #389067;
  letter-spacing: 4px;
  margin: 10px 0;
}

.articleGames {
  display: flex;
  justify-content: center;
  align-items: top;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5vmin;
  margin-top: 5vh;
}

.divGame {
  flex: 0, 0, 0;
  width: 30rem !important;
  height: 35 rem !important;
  background: rgb(27, 33, 85);
  background: radial-gradient(
    circle,
    rgba(27, 33, 85, 0.5718662464985995) 0%,
    rgba(25, 22, 61, 1) 100%
  );
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: top;
  text-align: center;
  box-shadow: 0 5px 16px 0 rgb(0 0 0 / 58%);
  padding: 2vmin;
}

.picGame {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 20px;
  height: 12rem;
  margin: 0.5em;
}

.reviewsPosted {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
}


.buttonAdd{
  color:rgb(214, 214, 218);
  font-size: medium;
  padding:.5rem;
  font-family: "Fredoka One", cursive;
  letter-spacing: 1.2px;
  font-weight: 200;
  font-size: 1vw;
  text-align: center;
  margin-bottom: 1rem;
  background-color: rgb(28, 28, 55);
}
.avatar {
  border-radius: 100px;
  width: 5rem;
  height: 5rem;
  margin: 0.1em;
  box-shadow: 0px 0px 4px 1px #5b4da4;
  display: flex;
}

.descriptionGame {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vmin;
}

.titleDescription {
  text-transform: uppercase;
  font-family: "Fredoka One", cursive;
  color: rgb(245, 209, 35);
  letter-spacing: 2px;
  text-align: center;
}

.subtitleDescription {
  text-transform: uppercase;
  font-family: "Fredoka One", cursive;
  color: rgb(225, 223, 255);
  letter-spacing: 1.5px;
  font-weight: 200;
  font-size: 1.3vw;
  text-align: center;
  margin-bottom: 1rem;
}
.pDescription {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  letter-spacing: 0.3px;
  color: rgb(225, 223, 255);
  text-align: center;
}
.inputs {
  font-family: "Fredoka One";
  font-weight: lighter;
  color: rgb(255, 255, 255);
  background-color: transparent;
  box-shadow: 0 5px 8px 0 rgb(0 0 0 / 35%);
  margin: 0.5rem;
  border: none;
  width: 100%;
  border-radius: 8px;
  font-size: 2.2vmin;
  padding: 1.5vmin;
}

.inputs::placeholder {
  color: rgba(159, 158, 167, 0.385);
}

.buttonAddComment {
  position: relative;
  top: -15px;
  left: 85%;
  font-family: "Fredoka One", cursive;
  color: rgb(0, 0, 0);
  background-color: rgb(245, 209, 35);
  box-shadow: 0 5px 16px 0 rgb(0 0 0 / 58%);
  border: none;
  width: 7%;
  border-radius: 10%;
  font-size: 4vmin;
  cursor: pointer;
}

.submitButton {
  font-family: "Fredoka One", cursive;
  color: rgb(245, 209, 35);
  background-color: transparent;
  border: none;
  width: 100%;
  border-radius: 2%;
  font-size: 3.8vmin;
  padding: 1.5vmin;
  margin: 1vmin;
  text-align: center;

}
.submitButton2 {
  font-family: "Fredoka One", cursive;
  color: rgb(245, 209, 35);
  background-color: transparent;
  border: none;
  width: 30%;
  border-radius: 2%;
  font-size: 3.8vmin;
  padding: 1.5vmin;
  margin: 1vmin;
  text-align: center;
  box-shadow: 0 5px 16px 0 rgb(0 0 0 / 58%);
  background-color: rgba(71, 57, 165, 0.179);
  border-radius: 10%;

}
.userStuff {
  display: flex;
}
.divToast{
  background-color: rgba(155, 151, 134, 0.563);
  width: 20%;
  height: 10%;
}
@media (min-width: 916px) and (max-width: 1100px) {
  .articleGames {
    grid-template-columns: 90%;
  }
  .divGame {
    width: 40rem !important;
  }
  .slides {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .picGame {
    height: 12rem;
    margin: 0.5em;
  }

  .sectionGames h2 {
    font-size: 4vw;
  }
  .titleDescription {
    font-size: 3vw;
  }
  .subtitleDescription {
    font-size: 2vw;
  }
  .buttonDescription {
    width: 25vw;
    font-size: 2vw;
  }
  .buttonAddComment{
    left: 75%;
  }
}

@media (min-width: 768px) and (max-width: 916px) {
  .articleGames {
    grid-template-columns: 90%;
  }

  .divGame {
    width: 40rem !important;
  }

  .picGame {
    height: 10rem;
    margin: 0.5em;
  }

  .sectionGames h2 {
    font-size: 4.5vw;
  }
  .titleDescription {
    font-size: 3.5vw;
  }
  .subtitleDescription {
    font-size: 2.5vw;
  }
  .buttonDescription {
    width: 25vw;
    font-size: 2.5vw;
  }
  .buttonAddComment{
    left: 70%;
  }
}

@media (min-width: 550px) and (max-width: 768px) {
  .articleGames {
    grid-template-columns: 100%;
  }
  .divGame {
    width: 30rem !important;
  }

  .picGame {
    height: 8rem;
    margin: 0.5em;
  }

  .sectionGames h2 {
    font-size: 4.5vw;
  }
  .titleDescription {
    font-size: 4vw;
  }
  .subtitleDescription {
    font-size: 2.3vw;
  }
  .buttonDescription {
    width: 25vw;
    font-size: 2.7vw;
  }

  .pDescription {
    font-size: 2.4vw;
  }
  .buttonAddComment{
    top: -15px;
    left: 74%;
  }
}

@media (max-width: 550px) {
  .articleGames {
    grid-template-columns: 100%;
  }
  .sectionGames h2 {
    font-size: 6vw;
  }
  
  .divGame {
    width: 25rem !important;
  }

  .picGame {
    height: 6rem;
    margin: 0.5em;
  }
  .titleDescription {
    font-size: 3vw;
    text-align: center;
  }

  .subtitleDescription {
    font-size: 2.5vw;
  }

  .buttonDescription {
    min-width: 25vw;
    font-size: 2.5vw;
    align-self: center;
  }
  .pDescription {
    font-size: 2.3vw;
  }
  .buttonAddComment{
    top: -15px;
    left: 74%;
  }
}


@media (max-width: 400px) {
  .articleGames {
    grid-template-columns: 100%;
  }
  .sectionGames h2 {
    font-size: 6vw;
  }
  
  .divGame {
    width: 20rem;
  }

  .picGame {
    height: 4rem;
    margin: 0.5em;
  }
  .titleDescription {
    font-size: 3vw;
    text-align: center;
  }

  .subtitleDescription {
    font-size: 2.5vw;
  }

  .buttonDescription {
    min-width: 25vw;
    font-size: 2.5vw;
    align-self: center;
  }
  .pDescription {
    font-size: 2.3vw;
  }
}

/**Ranking********************/
.container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.rating {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  flex-direction: row-reverse;
  height: 150px;
  position: relative;
}

.rating-0 {
  filter: grayscale(100%);
}

.rating > input {
  display: none;
}

.rating > label {
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-top: auto;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 76%;
  transition: 0.3s;
}

.rating > input:checked ~ label,
.rating > input:checked ~ label ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.rating > input:not(:checked) ~ label:hover,
.rating > input:not(:checked) ~ label:hover ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.emojiWrapper {
  width: 100%;
  text-align: center;
  height: 100px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.emojiWrapper:before,
.emojiWrapper:after {
  content: "";
  height: 15px;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
}

.emojiWrapper:before {
  top: 0;
}

.emojiWrapper:after {
  bottom: 0;
}

.emoji {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
}

.emoji > img {
  margin: 15px 0;
  width: 70px;
  height: 70px;
  flex-shrink: 0;
}

#rating-1:checked ~ .emoji-wrapper > .emoji {
  transform: translateY(-100px);
}
#rating-2:checked ~ .emoji-wrapper > .emoji {
  transform: translateY(-200px);
}
#rating-3:checked ~ .emoji-wrapper > .emoji {
  transform: translateY(-300px);
}
#rating-4:checked ~ .emoji-wrapper > .emoji {
  transform: translateY(-400px);
}
#rating-5:checked ~ .emoji-wrapper > .emoji {
  transform: translateY(-500px);
}

.feedback {
  max-width: 360px;
  /* background-color: #fff; */
  width: 100%;
  padding: 30px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
}

.message {
  position: absolute;
  top: 80px;
  font-family: "Ubuntu", sans-serif;
  font-weight: lighter;
  letter-spacing: 0.3px;
  color: rgb(245, 209, 35);
  text-align: center;
}

.messageR {
  /* position: absolute; */
  top: 20px;
  font-family: "Ubuntu", sans-serif;
  font-weight: lighter;
  letter-spacing: 0.3px;
  color: rgb(245, 119, 35);
  text-align: center;
  font-size: 1.2rem;
  height: 1.5rem;
  font-style: italic;

}
