.playButton {
    width: 39.5vmin;
    height: 8.9vmin;
    color: #261f69;
    font-size: 3vmin;
    letter-spacing: 0.05em;
    font-family: 'Fredoka One', cursive;
    background: none;
    border: none;
    background-size: cover;
    background-image: url('../../assets/buttons/playButton.svg');
    display: flex;
    align-items: center;
    cursor: pointer;
}

.playButton:hover {
  background-image: url("../../assets/buttons/playButton-hover.svg");
}

.playButton strong {
    text-align: center;
    width: 85%;
    font-weight: 100;
}

.buttonPlayButton {
    width: 7%;
    fill: white;
    margin-left: 8%;
}

.socialMediaHeroButton {
  width: 9.5vmin;
  height: 9vmin;
  background: none;
  border: none;
  background-size: cover;
  background-image: url("../../assets/buttons/socialMediaHero.svg");
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.socialMediaHeroButton:hover {
  background-image: url("../../assets/buttons/socialMediaHero-hover.svg");
}

.socialMediaHeroButton svg {
  width: 3.2vmin;
  fill: white;
}

.socialMediaFooterButton {
  width: 39px;
  height: 35px;
  background: none;
  border: none;
  background-size: cover;
  background-image: url("../../assets/buttons/socialMediaFooterButton.svg");
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 3px
}

.socialMediaFooterButton svg {
  width: 20px;
  fill: white;
}

.socialMediaFooterButton svg:hover{
  fill: #f0f0f0;
}

@media (max-width: 500px) {
  .socialMediaHeroButton {
    width: 11vmin;
    height: 10.2vmin;
  }
}
